apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  serviceName: "postgres"
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres

    spec:
      securityContext:
        fsGroup: 999
      initContainers:
        - name: init-postgres
          image: busybox:1.35
          command: ['sh', '-c', 'chown -R 999:999 /var/lib/postgresql/data && chmod 700 /var/lib/postgresql/data']
          volumeMounts:
            - mountPath: "/var/lib/postgresql/data"
              name: postgres-volume
      containers:
        - name: postgres
          image: postgres:latest
          ports:
            - name: http
              protocol: TCP
              containerPort: 5432
          envFrom:
            - configMapRef:
                name: postgres-configmap
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - mountPath: "/var/lib/postgresql/data"
              name: postgres-volume
      volumes:
        - name: postgres-volume
          persistentVolumeClaim:
            claimName: postgres-pvc